$primary-color: #333;
$secondary-color: #fff;
$tertiary-color: #000000;
$accent-color: #e91e63;
$bg-color: #f7f7f7;
$footer-bg-color: #24262b;


/* Estilos para el logotipo */
.logo {
    img {
      height: 50px;
      width: auto;
    }
  }
  
  /* Estilos para el logotipo */
  header img {
    height: 50px;
    margin-left: 20px;
  }